---
import Layout from '../layouts/Layout.astro';
import { useSanityClient, groq } from '@sanity/astro';

const query = groq`*[_type == "project"]`;
const projects = await useSanityClient().fetch(query);
---

<Layout>
  <h1 class="text-4xl font-bold">Work</h1>
  <ul>
    {projects.map(project => (
      <li>{project.title}</li>
    ))}
  </ul>
</Layout>
