---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="py-16">
    <header class="mb-12">
      <h1 class="text-4xl font-serif mb-4">Playlists</h1>
      <p class="text-xl text-stone-500">Monthly music curation spanning different moods and moments</p>
    </header>


  </div>
</Layout>


