---
---

<div class="container-grid mt-24">
  <div class="col-span-8 col-start-1">
    <h1 class="text-5xl font-serif font-light">
      ÑYC based creative director shaping brand experiences across physical and digital spaces.
    </h1>
  </div>
  <div class="col-span-4 col-start-9 mt-16">
    <div class="flex flex-col">
      <p class="uppercase text-stone-500 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 10 10" class="inline relative -top-[1.5px]">
          <path fill="#79716B" fill-rule="evenodd" d="M5 0a5 5 0 1 1 0 10A5 5 0 0 1 5 0Zm2.707 5L5.5 7.207 4.793 6.5l1-1H2.5v-1h3.293l-1-1 .707-.707L7.707 5Z" clip-rule="evenodd"/>
        </svg>
        Currently Associate Creative Director</p>
      <p class="uppercase text-stone-500 text-lg text-right">& competitive cold brew drinker at <a href="https://www.braze.com" class="text-stone-950 font-semibold hover:text-orange-500">Braze</a></p>
  </div>
</div>